h1{
    text-align: center;
    text-decoration: underline;
    color: black;
}

p, h6, h5, h4, h3, h2{
    color: black;
}

video{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

body{
    background-color: black;
}